<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <%= form_with url: turbo do |form| %>
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <%= form.label :name %>
                                <%= form.text_field :name, class: "form-control" %>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-3">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <%= form.label :email %>
                                <%= form.email_field :email, class: "form-control" %>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-3">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <%= form.label :addess %>
                                <%= form.text_area :addess, class: "form-control", style:"resize: none;" %>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-3">
                        <div class="col-lg-4">
                          <%= form.submit "Submit", class:"btn btn-primary" %>
                        </div>
                    </div>
                </div>

            <% end %>
        </div>
    </div>
</div></div>
