<div id="<%= dom_id(turbo) %>">
    <tr>
        <td scope="row"><%= turbo.id %></td>
        <td><%= turbo.name %></td>
        <td><%= turbo.email %></td>
        <td><%= turbo.addess %></td>
        <td><%= link_to "Edit", edit_turbo_path(turbo),data: { bs_toggle: "modal",bs_target: "#exampleModal" } %></td>
        <td><%= button_to "Delete", turbo_path(turbo), method: :delete %></td>
    </tr>
</div>

<%= render "turbo/form", turbo: "/turbo/#{turbo.id}/edit" %>
